#toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    /*background: #ffa500;*/
    background: #333;
    /*background: #3f51b5;*/
    /*color: #fff;*/
    /*color: #000;*/
    color: #F7A000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    height: 48px;
    padding: 0 16px;
    font-size: 13px;
}

#toolbar .material-icons.closed {
    font-size: 36px;
    margin-top: -7px;
}

#toolbar .material-icons.open {
    font-size: 36px;
    margin-top: 6px;
}

#toolbar a, #toolbar a:visited {
    color: #ffa500;
}

#toolbar a.logout, #toolbar a:visited.logout {
    margin-left: 10px;
}

input#privateKey {
    width: 290px;
}
