<mat-toolbar id="toolbar">
<!--<div id="toolbar">-->
    <div *ngIf="!user" style="display: flex">
        <i class="material-icons open">lock_open</i>
        <p>
            <label for="privateKey">
                <input id="privateKey" type="password" [(ngModel)]="key" width="100"/>
            </label>
        </p>
        <p style="padding-left: 15px">
            <a href="#" title="Login" (click)="login()">Set key</a>
        </p>
    </div>
    <div *ngIf="user" style="display: flex">
        <i class="material-icons closed">lock</i>
        <div>{{ user.toString() }}
            <a href="#" title="Logout" (click)="logout()" class="logout">Logout</a>
        </div>
    </div>
<!--</div>-->
</mat-toolbar>
