.main {
    box-shadow: none;
}

.mat_card_header {
    align-items: baseline
}

.editzone {
    background-color: #fdfdfd;
    height: 97%;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.editor_grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 8px;
}

.editor_column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.editor_column_header {
    height: 48px;
    color: #fff;
    background: rgba(0,0,0,.38);
    overflow: hidden;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor_column_header a {
    text-decoration: none;
    color: white;
}

.editor_column_header a:hover {
    text-decoration: none;
    color: #ffa500;
}

.button-toolbar {
    margin: 5px 0 0 0;
}

.button-toolbar button {
    min-width: 48px;
}
