<mat-card class="main">
    <mat-card-header class="mat_card_header">
        <em class="fa fa-file-word-o"></em>
        <mat-card-title> {{ name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="editor_grid">
            <div class="editor_column editing">
                <div class="editor_column_header">Editing</div>
                <mat-form-field>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="25" #autosize="cdkTextareaAutosize"
                              class="editzone" #myInput (keyup)="changeContent()" [(ngModel)]="content"></textarea>
                </mat-form-field>
            </div>
            <div class="editor_column right">
                <div class="editor_column_header">
                    <span *ngIf="showingPreview; else isOriginal">Preview <span *ngIf="modified">(Modified)</span> </span>
                    <ng-template #isOriginal><span>Original</span></ng-template>
                    <span>
                        <a *ngIf="modified" (click)="switchOriginal()" class="action" matTooltip="Show {{switchText}}">
                            <mat-icon aria-label="View original content">search</mat-icon>
                        </a>
                        <a><mat-icon aria-label="Show result in pop-up" class="action" matTooltip="Show in pop_up">launch</mat-icon></a>
                    </span>
                </div>
                <app-preview [format]="'md'" [content]="previewContent" [modified]="modified && showingPreview"></app-preview>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button title="Save Content" *ngIf="modified" (click)="saveContent()">Save Content</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
