<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to
  </h1>
  <img width="400" alt="Kort ales Logo" [src]="LOGO" />
</div>
<app-login (loginMade)="setKey($event)" (logoutMade)="removeKey()" [user]="user"></app-login>

<div [hidden]="!user" class="main">
  <div *ngIf="entries">
    <div class="project-header">
      <div>
      Project:
      <span class="title" *ngIf="!editProject">{{topic}}<em (click)="editProject = true;" class="material-icons" style="font-size: 24px">edit</em></span>
      <span *ngIf="editProject"><input type="text" [(ngModel)]="topic">
        <em *ngIf="editProject" (click)="changeProject()" class="material-icons" style="font-size: 24px">save</em>
        <em *ngIf="editProject" (click)="cancelEditProject()" class="material-icons" style="font-size: 24px">cancel</em>
      </span>
      <p class="project-hash">(Using hash {{ rootHash }})</p>
      </div>

    </div>

    <ul>
      <li *ngFor="let entry of entries"><a href="#" (click)="loadPathContent(entry.path)">{{ entry.path }}</a></li>
    </ul>
    <div id="content" [hidden]="!content">
      <app-writer [path]="currentPath" [content]="content" (contentChange)="saveContent($event)"></app-writer>
    </div>
  </div>
  <div *ngIf="!creating && !rootHash" class="spinner"><em class="fa fa-spinner fa-spin"></em>Loading feed...</div>
  <div *ngIf="creating" class="spinner"><em class="fa fa-spinner fa-spin"></em>Creating feed...</div>
  <div *ngIf="!creating && !entries && rootHash" class="spinner"><em class="fa fa-spinner fa-spin"></em>Loading content...</div>
</div>
<div id="messager">
  <a (click)="sendMessage()">Send Message</a>

  <pre class="textzone">{{ messageReceived }}</pre>
</div>
