<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to
  </h1>
  <img width="400" alt="Kort ales Logo" src="../assets/Writing Swarm-logo-black_lifesavers.png">
</div>
<app-login (loginMade)="setKey($event)" (logoutMade)="removeKey()" [user]="user"></app-login>

<div [hidden]="!user" class="main">
  <div *ngIf="entries">
    <h2>Contents of swarm folder: (Using hash {{ rootHash }})</h2>
    <ul>
      <li *ngFor="let entry of entries"><a href="#" (click)="loadPathContent(entry.path)">{{ entry.path }}</a></li>
    </ul>
    <div id="content" [hidden]="!content">
      <app-writer [path]="currentPath" [content]="content" (contentChange)="saveContent($event)"></app-writer>
    </div>
  </div>
  <div *ngIf="!creating && !rootHash" class="spinner"><em class="fa fa-spinner fa-spin"></em>Loading feed...</div>
  <div *ngIf="creating" class="spinner"><em class="fa fa-spinner fa-spin"></em>Creating feed...</div>
  <div *ngIf="!creating && !entries && rootHash" class="spinner"><em class="fa fa-spinner fa-spin"></em>Loading content...</div>
</div>
<div id="messager">
  <a (click)="sendMessage()">Send Message</a>

  <pre class="textzone">{{ messageReceived }}</pre>
</div>
