.spinner {
    font-size: 36px;
    text-align: center;
}

.main {
    margin: 10px 5px 10px 5px;
    background-color: #efefef;
    padding: 2px 2px 2px 15px;
    box-shadow: rgba(0, 0, 0.14, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0.2, 0.2) 0px 3px 1px -2px;
}

#messager {
    /*display: none;*/
}

.title {
    font-weight: bolder;
    font-size: 1.7em;
    margin-inline-start: 5px;
    margin-inline-end: 0;
}

.project-header {
    margin-bottom: 15px;
    margin-top: 10px;
    border-bottom: black 10px;
}

.project-hash {
    float: right;
    margin-top: 2px;
    font-weight: lighter;
    font-size: 0.9em;
}
