.spinner {
    text-align: center;
}

.main {
    margin: 10px 5px 10px 5px;
    background-color: #fff;
    padding: 2px 2px 2px 15px;
    box-shadow: rgba(0, 0, 0.14, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0.2, 0.2) 0px 3px 1px -2px;
}

#messager {
    /*display: none;*/
}

.app-logo {
    padding-top: 30px;
    padding-bottom: 0;
    align-items: center;
    text-align:center;
    flex: 0;display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #ffa500, #ffbb60);
    color: #000;
    z-index: 1;
}

.app-main {
    padding-left: 0;
}

mat-card-title em.material-icons {
    font-size: 24px;
}

.title {
    font-weight: bolder;
    font-size: 1.7em;
    margin-inline-start: 5px;
    margin-inline-end: 0;
}

.project-header {
    margin-bottom: 15px;
    margin-top: 10px;
    border-bottom: black 10px;
}

.project-hash {
    float: right;
    margin-top: 2px;
    font-weight: lighter;
    font-size: 0.9em;
}

mat-drawer-container {
    background-color: #333;
}

mat-drawer-content {
    background-color: white;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    min-height: 400px;
}

mat-drawer-content .menu-toggler {
    flex: 0;
    background: #333333;
}

mat-drawer-content .menu-toggler mat-icon {
    color: #ffa500;
}

mat-drawer {
    background: #333;
    margin: 0;
    border-color: #333;
    overflow: hidden;
}

mat-drawer mat-divider {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

mat-drawer nav a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,.54);
}

mat-drawer nav a.itemSelected {
    color: #ffa500;
}

mat-drawer nav a:hover {
    color: #ffa500;
}

mat-drawer ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0 0 5px;
    overflow: hidden
}

mat-drawer li {
    margin: 0;
    padding: 5px 15px 5px 20px;
}

::ng-deep .mat-drawer ::-webkit-scrollbar {
    width: 4px;
    background-color: #555;
}

/* Handle */
::ng-deep .mat-drawer ::-webkit-scrollbar-thumb {
    background: #ffa500;
}

.mat-drawer-content .mat-card {
    box-shadow: 0 0 0 0 ;
}

app-writer {
    flex: 10;
    padding-left: 10px
}

.no-file {
    min-height: 200px;
    padding-left: 10px;
}
